openapi: 3.0.3
info:
  title: TrustRadius Public Categories API
  description: Provides programmatic access to product data, verified user reviews, TrustRadius scores, software categories, and aggregate rating information for B2B software products. Authentication requires an API key from the TrustRadius Vendor Portal.
  version: 1.0.0
  contact:
    url: https://apidocs.trustradius.com/
  termsOfService: https://www.trustradius.com/legal/terms-of-use
servers:
- url: https://api.trustradius.com/v1
  description: Production
tags:
- name: Categories
  description: Software category operations
paths:
  /categories:
    get:
      operationId: listCategories
      summary: List Categories
      description: Retrieve all software categories available on TrustRadius.
      tags:
      - Categories
      security:
      - ApiKey: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: Categories returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListResponse'
  /categories/{categorySlug}:
    get:
      operationId: getCategory
      summary: Get Category
      description: Retrieve details for a specific software category including top products.
      tags:
      - Categories
      security:
      - ApiKey: []
      parameters:
      - name: categorySlug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Category details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        productCount:
          type: integer
        topProducts:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'
    CategoryListResponse:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategorySummary'
        total:
          type: integer
    ProductSummary:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        trScore:
          type: number
          format: double
          description: TrustRadius score (0-10)
        reviewCount:
          type: integer
        categories:
          type: array
          items:
            type: string
    CategorySummary:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        productCount:
          type: integer
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: TrustRadius API key obtained from Vendor Portal > Integrations
