openapi: 3.0.3
info:
  title: TrustRadius Reviews API
  description: >-
    Provides access to verified user reviews for B2B software products on TrustRadius,
    including detailed review content, multi-dimensional ratings, reviewer information,
    and pros/cons data. Supports content licensing and syndication workflows.
  version: 1.0.0
  contact:
    url: https://apidocs.trustradius.com/
  termsOfService: https://www.trustradius.com/legal/terms-of-use
servers:
  - url: https://api.trustradius.com/v1
    description: Production
tags:
  - name: Reviews
    description: Product review retrieval operations
paths:
  /reviews:
    get:
      operationId: listReviews
      summary: List Reviews
      description: Retrieve verified reviews across products with filtering by product, category, industry, and rating.
      tags:
        - Reviews
      security:
        - ApiKey: []
      parameters:
        - name: product
          in: query
          required: false
          schema:
            type: string
          description: Filter reviews by product slug
        - name: category
          in: query
          required: false
          schema:
            type: string
          description: Filter reviews by category slug
        - name: industry
          in: query
          required: false
          schema:
            type: string
          description: Filter by reviewer industry
        - name: companySize
          in: query
          required: false
          schema:
            type: string
            enum: [small, medium, large, enterprise]
          description: Filter by reviewer company size
        - name: minScore
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10
          description: Minimum TrustRadius score
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: perPage
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Reviews returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListResponse'
        '401':
          description: Unauthorized
  /reviews/{reviewId}:
    get:
      operationId: getReview
      summary: Get Review
      description: Retrieve the full content of a specific verified review.
      tags:
        - Reviews
      security:
        - ApiKey: []
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
          description: Unique review identifier
      responses:
        '200':
          description: Review details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '404':
          description: Review not found
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    ReviewListResponse:
      type: object
      properties:
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/Review'
        total:
          type: integer
        page:
          type: integer
        perPage:
          type: integer
    Review:
      type: object
      properties:
        id:
          type: string
          description: Unique review identifier
        title:
          type: string
          description: Review title
        body:
          type: string
          description: Full review text (typically 400+ words)
        trScore:
          type: integer
          minimum: 1
          maximum: 10
          description: Overall TrustRadius score given by reviewer (1-10)
        pros:
          type: array
          items:
            type: string
          description: Positive aspects of the product
        cons:
          type: array
          items:
            type: string
          description: Negative aspects of the product
        createdAt:
          type: string
          format: date-time
          description: Review submission timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last modification timestamp
        verified:
          type: boolean
          description: Whether the review is verified
        product:
          type: object
          properties:
            id:
              type: string
            slug:
              type: string
            name:
              type: string
        reviewer:
          type: object
          description: Anonymized reviewer information
          properties:
            title:
              type: string
              description: Reviewer's job title
            industry:
              type: string
              description: Reviewer's industry sector
            companySize:
              type: string
              enum: [small, medium, large, enterprise]
              description: Reviewer's company size
            yearsOfExperience:
              type: integer
              description: Years of experience with the product
        ratings:
          type: object
          description: Multi-dimensional ratings breakdown
          properties:
            overall:
              type: number
              format: double
            usability:
              type: number
              format: double
            support:
              type: number
              format: double
            likelihoodToRecommend:
              type: number
              format: double
            valueForMoney:
              type: number
              format: double
            featureRichness:
              type: number
              format: double
